html {
  height: 100%;
  width: 100%;
}

.back,
.backreg,
.backfor {
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  background-color: #d9effa;
  height: 170px;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.back {
  height: 140px;
}

.backreg {
  height: 170px;
}

.backfor {
  height: 160px;
}

input,
button {
  margin: 2px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

div {
  font: 14px Arial;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.forget,
.register,
.signin {
  color: gray;
  font-size: 10px;
}

.forget {
  margin-top: 5px;
}